<div class="row">
    <h1>Hard & Soft skills</h1>
    <div *ngFor="let skill of skillList" class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]= (skill.porcentaje)
        [radius]="80"
        [title]= "(skill.nombre)" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [titleColor]="'#fefefe'"
        [titleFontSize]="'15px'"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
</div>
