<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
            <div class="redes">
                    <a href="https://www.facebook.com/fmercanteorozco"><img src="../../../assets/facebook.png" id="facebook"></a>
                    <a href="https://github.com/feliimercante"><img src="../../../assets/github.png" id="github"></a>
                    <a href="https://www.instagram.com/feli_mercante/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
                </div>
    </div>
</div>

